html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
svg {
  display: none;
}
p {
 position: absolute;
 opacity: 0;
/* display: none;*/
}

iframe#if {
  position: absolute;
  top: -3.2rem; 
}

/*nav {
  display: none;
}
.nav preview-nav {
  display: none;
}*/